---
import { Image } from 'astro:assets';
import logo from '../assets/light-logo.svg';
import wordmark from '../assets/light-wordmark.svg';
import darkLogo from '../assets/dark-logo.svg';
import darkWordmark from '../assets/dark-wordmark.svg';
---

<a href="/openai-agents-js/" style="text-decoration: none;">
  <h1 class="sidebar-content items-center">
    <Image src={logo} alt="Logo" width="40" height="40" id="light-logo" />
    <Image
      src={wordmark}
      alt="OpenAI Agents SDK"
      width="190"
      height="33"
      id="light-wordmark"
    />
    <Image src={darkLogo} alt="Logo" width="40" height="40" id="dark-logo" />
    <Image
      src={darkWordmark}
      alt="OpenAI Agents SDK"
      width="190"
      height="33"
      id="dark-wordmark"
    />
  </h1>
</a>

<script is:inline>
  const root = window.document.firstElementChild;

  function changeStyleDisplay(ids, display) {
    for (const id of ids) {
      document.getElementById(id).style.display = display;
    }
  }
  function loadLogoAndWordmark() {
    const theme =
      root.getAttribute('data-theme') ||
      localStorage.getItem('starlight-theme');
    changeStyleDisplay([`${theme}-logo`, `${theme}-wordmark`], '');
    const hidden = theme === 'dark' ? 'light' : 'dark';
    changeStyleDisplay([`${hidden}-logo`, `${hidden}-wordmark`], 'none');
  }
  loadLogoAndWordmark(); // initialize the logo appearance

  const observer = new MutationObserver((mutations) => {
    for (const mutation of mutations) {
      if (
        mutation.target === root &&
        mutation.type === 'attributes' &&
        mutation.attributeName === 'data-theme'
      ) {
        loadLogoAndWordmark();
      }
    }
  });
  observer.observe(root, { attributes: true, attributeFilter: ['data-theme'] });
</script>
